.footer {
  background-color: #1c1c1c !important;
}

.footer-navbar-elements .nav-link {
  color: #f36b37 !important;
  /* color: #F26B37 !important; */
}

.footer-navbar-elements .nav-link:hover {
  /* font-weight: 600; */
  color: #fdf8f3 !important;
}
.navbar-brand-footer {
  color: #f36b37 !important;
  text-transform: uppercase;
  align-items: center;
  margin-right: none !important;
}

.divider {
  color: #f36b37;
}

.hr-falla {
  margin-top: 0.7rem !important;
}
.details-footer {
  font-size: calc(100% + 0.3vh);
  color: #f36b37;
}

.footer-container {
  display: block !important;
}

.copyright-tag {
  font-size: 0.8rem;
  color: #f36b37;
  display: flex;
  justify-content: center;
}

.copyright-font {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.socials {
  display: contents !important;
  color: #f36b37;
}
